.user-info{
  width: 70%;
  margin: 4rem auto;
}

.user-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile{
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: .7rem 1.1rem;
  margin: 2rem 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.user-photos-container{
  width: 80%;
  margin: 1rem auto;
}

.user-photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-info-img {
  width: 30%;
}

.user-info-img img {
  width: 100%;
}

.user-photos-count{
  font-size: 1.4rem;
  color: #999;

}